@model Card
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body>
        <div class = "header">
            <p class = "title">Flashcard Manager<a style ="float:right; font-size:20px;" href="/logout">Logout</a></p>
        </div>
        <div class ="navBar">
          <a href="/dashboard">Dashboard</a> | 
            <a href="/create/card">Flashcards</a> | 
            <a href="/create/category">Categories</a>
    </div>
    <div class = "mainWrapper animated fadeIn">
     <form  asp-action="AddCard" asp-controller="Dashboard" method="post">
                <p>Add a New Flashcard</p>
                <span asp-validation-for="FrontText"></span><br>
                <label asp-for="FrontText"></label>
                <input class="form-control form-control-lg" asp-for="FrontText">
                <span asp-validation-for="BackText"></span><br>
                <label asp-for="BackText"></label>
                <textarea rows="10" style = "resize: none; font-size:14px;" class="form-control" aria-label="With textarea" asp-for="BackText"></textarea><br>
                <span asp-validation-for="CategoryId"></span>
                <label asp-for="CategoryId"></label><br>
                <select class="form-control" style ="font-size:12px;" asp-for="CategoryId">
                    @foreach (var category in @ViewBag.Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select><br>
                <button class="btn btn-primary btn-lg">Add</button>
    </form>
    <br>
    <p>All Flashcards</p>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Flashcard</th>
      <th scope="col">Category</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
          @foreach (var card in @ViewBag.Cards)
    {
    <tr>
      <td>@card.FrontText</td>
      <td>@card.Category.CategoryName</td>
      @if(@card.isLearned)
      {
        <td><a href="/mark/card/@card.CardId">Unlearn</a></td>
      }
      else
      {
        <td><a href="/mark/card/@card.CardId">Learn</a></td>
      }

      <td><a href="/edit/card/@card.CardId">Edit</a> | 
      <a href="/delete/card/@card.CardId">Delete</a>
    </td>
    </tr>
    }
  </tbody>  
</table>
</div>
</body>